@import "../../../variables";
* {
    list-style: none;
}

// Start Cart
.cart-dropdown {
    position: absolute;
    z-index: 10;
    width: 340px;
    top: 100%;
    right: 10px;
    background-color: #FFF;
    border: 2px solid #EEE;
    border-top: 3px solid #EEE;
    border-radius: 5px;
    overflow: hidden;
    animation: cartAnimation .5s ease-in-out;
    @keyframes cartAnimation {
        0% {
            width: 0;
            height: 0;
        }
        100% {
            width: 339px;
            height: auto;
        }
    }
    @media(min-width: 1920px) {
        top: 100%;
        right: 1%;
    }
    @media(max-width: 800px) {
        top: 20%;
        right: 2%;
    }
    @media(max-width: 414px) {
        width: 270px;
    }
    @media(max-width: 375px) {
        overflow-y: auto;
        top: 20%;
        height: 250px;
    }
    @media(max-width: 320px) {
        height: 250px;
        top: 15%;
    }
    .cart-product {
        padding: 5px 0;
        .cart-items {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 5px 0;
            .item-img img {
                padding-left: 10px;
                width: 80px;
                position: relative;
                margin-right: 10px;
            }
            .item-txt {
                width: calc(100% - 100px);
                .item-name {
                    display: block;
                    font-size: 15px;
                    color: #555;
                    line-height: 1.3;
                    margin-bottom: 12px;
                    transition: .3s ease-in-out;
                    &:hover {
                        text-decoration: none;
                        color: $mainColor;
                    }
                }
                .item-info {
                    display: block;
                    font-size: 12px;
                    color: #888;
                    line-height: 1.3;
                }
            }
        }
    }
    .cart-total {
        font-size: 15px;
        color: #555;
        line-height: 1.3;
        text-align: right;
        padding-top: 15px;
        padding-bottom: 25px;
        padding-right: 20px;
    }
    .cart-btn {
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .wrap-btn {
            width: calc(100% - 10px)/2;
        }
        .view-btn,
        .btn {
            text-decoration: none;
            background-color: #000;
            color: #FFF !important;
            padding: 10px;
            margin-left: 35px;
            margin-right: 30px;
            text-transform: uppercase;
            border-radius: 30px;
            transition: .5s ease-in-out;
            &:hover {
                background-color: $mainColor;
            }
        }
    }
}

// End Cart
// Start SalesPage
#sales {
    margin: 0 0 40px;
    .cover {
        background-image: url('/heading-pages-02.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        min-height: 300px;
        background-position: center;
        width: 100%;
        margin-bottom: 80px;
        @media (max-width: 414px) {
            min-height: 200px;
        }
        @media (max-width: 375px) {
            min-height: 210px;
        }
        @media (max-width: 320px) {
            min-height: 180px;
        }
        h2 {
            position: absolute;
            color: #FFF;
            font-size: 45px;
            text-transform: uppercase;
            line-height: 1.2;
            font-weight: 650;
            top: 35%;
            left: 45%;
        }
        @media (min-width: 1920px) {
            h2 {
                top: 30%;
                left: 45%;
            }
        }
        @media (max-width: 800px) {
            h2 {
                top: 30%;
                left: 40%;
            }
        }
        @media (max-width: 414px) {
            h2 {
                top: 30%;
                left: 28%;
            }
        }
        @media (max-width: 375px) {
            h2 {
                font-size: 40px;
            }
        }
        @media (max-width: 320px) {
            h2 {
                font-size: 35px;
                left: 28%;
            }
        }
        span {
            position: absolute;
            color: #FFF;
            font-size: 22px;
            line-height: 1.5;
            top: 57%;
            left: 39%;
            @media (min-width: 1920px) {
                top: 55%;
                left: 40%;
            }
            @media (max-width: 800px) {
                top: 55%;
                left: 29%;
            }
            @media (max-width: 414px) {
                font-size: 20px;
                top: 60%;
                left: 12%;
            }
            @media (max-width: 375px) {
                font-size: 20px;
                top: 62%;
                left: 5%;
            }
            @media (max-width: 320px) {
                font-size: 16px;
                top: 62%;
                left: 9%;
            }
        }
    }
    .container {
        .col-md-4 {
            h5 {
                font-size: 18px;
                color: #333;
                font-weight: 800;
            }
            .desc {
                margin-bottom: 40px;
                p {
                    margin-bottom: 7px;
                    cursor: pointer;
                    color: #888;
                    font-size: 15px;
                    transition: .3s ease-in-out;
                    &:hover {
                        color: $mainColor;
                    }
                }
                .all {
                    color: #333;
                }
            }
            .filters {
                .dropdown-divider {
                    margin-top: 18px;
                }
                .fon-size {
                    border-bottom: 5px solid #E6E6E6;
                    margin-bottom: 20px;
                }
                label {
                    font-size: 20px;
                }
                .salary {
                    margin-bottom: 60px;
                    button {
                        color: #FFF;
                        padding: 5px 10px;
                        font-size: 13px;
                        background-color: #222;
                        text-transform: uppercase;
                        border-radius: 20px;
                        outline: none;
                        border: none;
                        transition: .3s ease-in-out;
                        &:hover {
                            background-color: $mainColor;
                        }
                    }
                    span {
                        float: right;
                        font-size: 12px;
                        color: #555;
                    }
                }
            }
            .color {
                label {
                    display: block;
                    font-size: 20px;
                }
                button {
                    width: 22px;
                    height: 22px;
                    margin: 0 10px 10px 0;
                    outline: none;
                    border: none;
                    border-radius: 50%;
                    &:focus {
                        border: 2px solid #222;
                    }
                }
                .btn-1 {
                    background-color: #00bbec;
                }
                .btn-2 {
                    background-color: #2c6ed5;
                }
                .btn-3 {
                    background-color: #ffa037;
                }
                .btn-4 {
                    background-color: #ff5337;
                }
                .btn-5 {
                    background-color: #a88c77;
                }
                .btn-6 {
                    background-color: #393939;
                }
                .btn-7 {
                    background-color: #CCC;
                }
                input {
                    display: block;
                    padding: 15px;
                    margin: 30px 0;
                    width: 220px;
                    font-size: 13px;
                    outline: none;
                    border: 1px solid #E6E6E6;
                }
            }
        }
        .col-md-8 {
            .box {
                margin-bottom: 30px;
                @media (max-width: 800px) {
                    display: block;
                }
                .dropdown {
                    display: inline;
                    margin-right: 10px;
                    #dropdown-basic {
                        padding: 10px 10px 10px 15px;
                        color: #888;
                        border: 1px solid #E6E6E6;
                        box-shadow: none;
                        background-color: transparent;
                    }
                    .dropdown-toggle::after {
                        margin-left: 30px;
                    }
                    .items {
                        color: #888;
                        transition: .3s ease-in-out;
                        &:hover {
                            color: #FFF;
                            background-color: $mainColor;
                        }
                    }
                    .active {
                        color: #FFF;
                        background-color: $mainColor;
                    }
                }
                span {
                    color: #888;
                    float: right;
                    font-size: 15px;
                    line-height: 1.8;
                    @media (max-width: 800px) {
                        float: left;
                    }
                }
            }
            .col-md-4 {
                margin-bottom: 20px;
                .feature-img {
                    width: 100%;
                    margin-bottom: 20px;
                    overflow: hidden;
                    position: relative;
                    transition: .3s ease-in-out;
                    &.new-product::before {
                        z-index: 100;
                        content: "New";
                        position: absolute;
                        top: 25px;
                        left: 12px;
                        background-color: #66a8a6;
                        border-radius: 12px;
                        width: 50px;
                        text-align: center;
                        font-size: 14px;
                        color: #FFF;
                        padding: 2px 0;
                        font-weight: 400;
                        @media (max-width: 800px) {
                            width: 40px;
                            font-size: 12px;
                            top: 10px;
                            left: 10px;
                        }
                        @media (max-width: 414px) {
                            width: 50px;
                            font-size: 14px;
                            top: 35px;
                            left: 12px;
                        }
                        @media (max-width: 320px) {
                            top: 25px;
                        }
                    }
                    .icon {
                        z-index: 99;
                        cursor: pointer;
                        position: absolute;
                        top: 7%;
                        left: 90%;
                        font-size: 0;
                        color: #FFF;
                        transition: .3s ease-in-out;
                        i {
                            position: absolute;
                            right: 0;
                        }
                        .fas {
                            display: none;
                        }
                        &:hover {
                            .fas {
                                display: block;
                            }
                        }
                    }
                    .cart-btn {
                        position: absolute;
                        z-index: 99;
                        left: 20%;
                        bottom: 5%;
                        text-transform: uppercase;
                        color: #FFF;
                        background-color: #000;
                        width: 150px;
                        text-align: center;
                        padding: 8px 0;
                        border-radius: 20px;
                        transition: .3s ease-in-out;
                        opacity: 0;
                        @media (max-width: 800px) {
                            padding: 5px 3px;
                            width: 100px;
                            left: 12%;
                        }
                        @media (max-width: 414px) {
                            padding: 8px 0px;
                            width: 150px;
                            left: 30%;
                        }
                        @media (max-width: 320px) {
                            left: 25%;
                        }
                    }
                    &::after {
                        z-index: 88;
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: " ";
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, .2);
                        opacity: 0;
                        transition: .3s ease-in-out;
                    }
                    &:hover {
                        .cart-btn {
                            opacity: 1;
                            bottom: 20px;
                        }
                        .icon {
                            display: block;
                            font-size: 20px;
                        }
                        &::after {
                            opacity: 1;
                        }
                    }
                }
                a {
                    display: block;
                    font-size: 15px;
                    color: #555;
                    line-height: 1.5;
                    margin-bottom: 7px;
                    transition: .3s ease-in-out;
                    &:hover {
                        text-decoration: none;
                        color: $mainColor;
                    }
                }
                span {
                    color: #555;
                    font-size: 16px;
                }
                .diff {
                    color: $mainColor;
                }
                del {
                    color: #555;
                }
            }
        }
    }
}

// End SalesPage
// Start FeaturePage
#cart-products {
    margin: 0 0 40px;
    .cover {
        background-image: url('/heading-pages-01.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        min-height: 300px;
        background-position: center;
        width: 100%;
        margin-bottom: 80px;
        @media (max-width: 414px) {
            min-height: 200px;
        }
        @media (max-width: 375px) {
            min-height: 210px;
        }
        @media (max-width: 320px) {
            min-height: 180px;
        }
        h2 {
            position: absolute;
            color: #FFF;
            font-size: 45px;
            text-transform: uppercase;
            line-height: 1.2;
            font-weight: 650;
            top: 40%;
            left: 45%;
        }
        @media (min-width: 1920px) {
            h2 {
                top: 40%;
                left: 45%;
            }
        }
        @media (max-width: 800px) {
            h2 {
                top: 40%;
                left: 42%;
            }
        }
        @media (max-width: 414px) {
            h2 {
                top: 33%;
                left: 35%;
            }
        }
        @media (max-width: 375px) {
            h2 {
                top: 35%;
            }
        }
        @media (max-width: 320px) {
            h2 {
                font-size: 35px;
                left: 33%;
            }
        }
    }
    .table {
        margin-bottom: 40px;
        @media (max-width: 414px) {
            overflow-x: auto;
        }
        table {
            thead {
                td {
                    width: 22%;
                    color: #555;
                    font-size: 14px;
                    font-weight: 650;
                }
            }
            .table-row {
                border: 1px solid #DDD;
                th {
                    img {
                        width: 50%;
                        margin: 15px;
                        cursor: pointer;
                        @media (max-width: 414px) {
                            width: 80px;
                        }
                    }
                    h6,
                    p,
                    label {
                        font-size: 1rem;
                        line-height: 1.5;
                        font-weight: 350;
                        color: #888;
                        margin-top: 40%;
                        @media (max-width: 414px) {
                            width: 150px;
                        }
                    }
                    p {
                        font-size: 1.2rem;
                    }
                    label {
                        color: #222;
                        font-weight: 500;
                    }
                    .price {
                        margin-top: 80%;
                        @media (max-width: 414px) {
                            margin-top: 40%;
                        }
                    }
                    .quantity {
                        margin-top: 35%;
                        @media (max-width: 414px) {
                            margin-top: 15%;
                            width: 300px;
                        }
                        button {
                            width: 40px;
                            height: 50px;
                            border: 2px solid #EEE;
                            outline: none;
                        }
                        .counter {
                            background: transparent;
                            cursor: default;
                        }
                    }
                }
            }
        }
        .table-footer {
            padding: 20px;
            border: 1px solid #DDD;
            @media (max-width: 414px) {
                width: 100%;
                border: none;
            }
            .main-table-footer {
                input {
                    width: 350px;
                    padding: 12px 20px;
                    border: 1px solid #DDD;
                    outline: none;
                    font-size: .8rem;
                    font-weight: 400;
                    margin: 10px 30px 10px 0;
                }
                @media (max-width:800px) {
                    input {
                        display: block;
                        padding: 13px 20px;
                    }
                }
                button {
                    background-color: #222;
                    border: none;
                    border-radius: 25px;
                    color: #FFF;
                    padding: 10px 30px;
                    transition: .3s ease-in-out;
                    margin: 10px 0 15px;
                    &:hover {
                        background-color: $mainColor
                    }
                    @media (max-width:768px) {
                        margin-right: 30px;
                    }
                }
                .cart-update-btn {
                    float: right;
                    @media (max-width: 768px) {
                        margin-bottom: 30px;
                        float: left;
                    }
                }
            }
        }
    }
    .inner-cart {
        border: 1px solid #E6E6E6;
        border-radius: 5px;
        height: 620px;
        margin-bottom: 50px;
        h5 {
            padding: 20px 0 0 15px;
            font-size: 20px;
            line-height: 1.5;
            font-weight: 600;
            color: #333;
            text-transform: uppercase;
        }
        .total {
            padding: 10px 15px;
            .name {
                font-size: 15px;
                line-height: 1.5;
                font-weight: 700;
                color: #555;
                margin-right: 30px;
            }
            .salary {
                font-size: 18px;
                line-height: 1.5;
                color: #888;
            }
        }
        .shipping {
            border-top: 1px dashed #E6E6E6;
            margin: 0 20px;
            padding: 15px 0;
            .main-shipping {
                display: inline-flex;
                margin-bottom: 25px;
                .name {
                    font-size: 15px;
                    font-weight: 700;
                    line-height: 1.5;
                    color: #555;
                    margin-right: 30px;
                }
                .details {
                    font-size: 14px;
                    line-height: 1.8;
                    color: #888;
                }
            }
            @media (max-width: 991px) {
                .main-shipping {
                    display: block;
                }
            }
            .calc {
                margin-left: 100px;
                span {
                    font-size: 14px;
                    line-height: 1.8;
                    color: #888;
                    font-weight: 400;
                    text-align: right;
                    text-transform: uppercase;
                }
                .select {
                    margin-top: 10px;
                    height: 40px;
                    border: 1px solid #E6E6E6;
                    width: 205px;
                    .dropdown {
                        #dropdown-basic {
                            background-color: transparent;
                            color: #888;
                            box-shadow: none;
                            border: none;
                        }
                        .dropdown-toggle::after {
                            margin-left: 50px;
                        }
                        .active {
                            color: #FFF !important;
                            background-color: $mainColor;
                        }
                        .items {
                            font-size: 13px;
                            color: #888;
                            transition: .3s ease-in-out;
                            &:hover {
                                color: #FFF;
                                background-color: $mainColor;
                            }
                        }
                    }
                    input {
                        padding: 8px 15px;
                        margin: 10px 0;
                        outline: none;
                        border: 1px solid #E6E6E6;
                        font-size: 15px;
                        color: rgba(0, 0, 0, .3);
                    }
                    .update {
                        background-color: #222;
                        border-radius: 25px;
                        color: #FFF;
                        font-size: 15px;
                        padding: 10px 40px;
                        transition: .3s ease-in-out;
                        border: none;
                        text-transform: uppercase;
                        margin-bottom: 15px;
                        &:hover {
                            background-color: $mainColor;
                        }
                    }
                    .inner-total {
                        border-top: 1px dashed #E6E6E6;
                        .name {
                            font-size: 20px;
                            margin-right: 30px;
                            font-weight: 600;
                            color: #555;
                        }
                        .salary {
                            font-size: 18px;
                            line-height: 1.5;
                            color: #888;
                        }
                        button {
                            margin-top: 10px;
                            width: 310px;
                            margin-left: -100px;
                            text-transform: uppercase;
                        }
                        @media (max-width: 991px) {
                            button {
                                margin-left: 0;
                            }
                        }
                        @media (max-width: 320px) {
                            button {
                                width: 250px;
                            }
                        }
                    }
                }
            }
            @media (max-width: 991px) {
                .calc {
                    margin-left: 0px;
                }
            }
        }
    }
}

// End FeaturePage
// Start BlogPage
#blog-page {
    margin: 0 0 40px;
    .cover {
        background-image: url('/heading-pages-05.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        min-height: 300px;
        background-position: center;
        width: 100%;
        margin-bottom: 80px;
        @media (max-width: 414px) {
            min-height: 200px;
        }
        @media (max-width: 375px) {
            min-height: 210px;
        }
        @media (max-width: 320px) {
            min-height: 180px;
        }
        h2 {
            position: absolute;
            color: #FFF;
            font-size: 45px;
            text-transform: uppercase;
            line-height: 1.2;
            font-weight: 650;
            top: 35%;
            left: 45%;
        }
        @media (min-width: 1920px) {
            h2 {
                top: 42%;
                left: 45%;
            }
        }
        @media (max-width: 800px) {
            h2 {
                top: 38%;
                left: 45%;
            }
        }
        @media (max-width: 414px) {
            h2 {
                top: 33%;
                left: 38%;
            }
        }
        @media (max-width: 375px) {
            h2 {
                top: 35%;
                left: 35%;
            }
        }
        @media (max-width: 320px) {
            h2 {
                left: 33%;
            }
        }
    }
    .container {
        .col-lg-8 {
            .hov-img-zoom {
                display: block;
                overflow: hidden;
                margin-bottom: 30px;
            }
            .pos-relative {
                position: relative;
                img {
                    width: 100%;
                    transition: .3s ease-in-out;
                    &:hover {
                        transform: scale(1.1, 1.1);
                    }
                }
            }
            label {
                position: absolute;
                background-color: #222;
                color: #FFF;
                padding: 5px;
            }
            .date-1 {
                top: 9.5%;
                // @media (min-width: 1920px) {
                //     top: 9.5%;
                // }
                @media (max-width: 800px) {
                    top: 9.2%;
                }
                @media (max-width: 414px) {
                    top: 5.7%;
                }
                @media (max-width: 375px) {
                    top: 5.1%;
                }
                @media (max-width: 320px) {
                    top: 4%;
                }
            }
            .date-2 {
                top: 30.2%;
                @media (max-width: 800px) {
                    top: 29.9%;
                }
                @media (max-width: 414px) {
                    top: 26.1%;
                }
                @media (max-width: 375px) {
                    top: 25.5%;
                }
                @media (max-width: 320px) {
                    top: 24.1%;
                }
            }
            .date-3 {
                top: 50.7%;
                @media (max-width: 800px) {
                    top: 50.4%;
                }
                @media (max-width: 414px) {
                    top: 46.4%;
                }
                @media (max-width: 375px) {
                    top: 45.7%;
                }
                @media (max-width: 320px) {
                    top: 45.3%;
                }
            }
            .date-4 {
                top: 71.3%;
                @media (max-width: 800px) {
                    top: 71%;
                }
                @media (max-width: 414px) {
                    top: 66.9%;
                }
                @media (max-width: 375px) {
                    top: 66.2%;
                }
                @media (max-width: 320px) {
                    top: 65.4%;
                }
            }
            .date-5 {
                top: 91.9%;
                @media (max-width: 800px) {
                    top: 91.6%;
                }
                @media (max-width: 414px) {
                    top: 87.3%;
                }
                @media (max-width: 375px) {
                    top: 86.5%;
                }
                @media (max-width: 320px) {
                    top: 85.5%;
                }
            }
            a {
                display: block;
                font-size: 25px;
                color: #333;
                line-height: 1.3;
                margin-bottom: 10px;
                transition: .3s ease-in-out;
                &:hover {
                    text-decoration: none;
                    color: $mainColor;
                }
            }
            span {
                color: #888;
                font-size: 13px;
                line-height: 1.8;
            }
            p {
                margin-top: 15px;
                color: #888;
                font-size: 15px;
                line-height: 1.7;
                margin-bottom: 60px;
            }
            button {
                margin-right: 10px;
                width: 4%;
                height: .8%;
                outline: none;
                background-color: transparent;
                border: 1px solid #888;
                border-radius: 50%;
                transition: .3s ease-in-out;
                margin-bottom: 40px;
                &:hover {
                    color: #FFF;
                    background-color: #222;
                }
                @media (max-width: 414px) {
                    width: 7%;
                    height: 1%;
                }
                @media (max-width: 320px) {
                    width: 10%;
                    height: 1.1%;
                }
            }
            .btn-1 {
                color: #FFF;
                background-color: #222;
            }
        }
        .col-lg-4 {
            input {
                width: 250px;
                margin-left: 20%;
                margin-bottom: 50px;
                padding: 10px;
                border: 1px solid #888;
                border-radius: 20px;
                outline: none;
                @media (max-width: 800px) {
                    margin-left: 0;
                }
                @media (max-width: 320px) {
                    width: 230px;
                }
            }
            h4,
            h5,
            a,
            .dropdown-divider {
                margin-left: 20%;
                @media (max-width: 800px) {
                    margin-left: 0;
                }
            }
            h5,
            h4,
            h3,
            h2 {
                color: #222;
                font-size: 25px;
                font-weight: 700;
                margin-bottom: 30px;
                @media (max-width: 800px) {
                    margin-left: 0;
                }
            }
            .desc {
                margin-left: 20%;
                font-size: 15px;
                color: #888;
                transition: .3s ease-in-out;
                cursor: pointer;
                @media (max-width: 800px) {
                    margin-left: 0;
                }
                &:hover {
                    text-decoration: none;
                    color: $mainColor;
                }
            }
            h4 {
                margin: 30px 0 30px 20%;
                @media (max-width: 800px) {
                    margin-left: 0;
                }
            }
            .flex {
                display: flex;
                margin-bottom: 20px;
                img {
                    margin-left: 20%;
                    margin-right: 20px;
                    width: 80px;
                    cursor: pointer;
                    @media (max-width: 800px) {
                        margin-left: 0;
                    }
                }
                span {
                    display: block;
                    font-size: 15px;
                    color: #555;
                    line-height: 1.2;
                    cursor: pointer;
                    transition: .3s ease-in-out;
                    &:hover {
                        color: $mainColor;
                    }
                }
                label {
                    margin-top: 10px;
                    color: #888;
                    font-size: 12px;
                    line-height: 1.8;
                }
            }
            h3 {
                margin: 60px 0 30px 20%;
                @media (max-width: 800px) {
                    margin-left: 0;
                }
            }
            .seasons {
                p {
                    .link {
                        font-size: 15px;
                        color: #888;
                        transition: .3s ease-in-out;
                        &:hover {
                            text-decoration: none;
                            color: $mainColor;
                        }
                    }
                    span {
                        color: #888;
                        float: right;
                    }
                }
            }
            h2 {
                margin: 60px 0 30px 20%;
                @media (max-width: 800px) {
                    margin-left: 0;
                }
            }
            button {
                margin: 2% 0 0 3%;
                color: #888;
                font-size: 13px;
                padding: 5px 15px;
                border: 1px solid #888;
                border-radius: 15px;
                transition: .3s ease-in-out;
                @media (max-width: 800px) {
                    margin: 0 10px 5px 0;
                }
                &:hover {
                    color: $mainColor;
                    border: 1px solid $mainColor;
                    background-color: transparent;
                }
            }
        }
    }
}

// End BlogPage
// Start AboutPage
#about {
    margin: 0 0 80px;
    .cover {
        background-image: url('/heading-pages-06.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        min-height: 300px;
        background-position: center;
        width: 100%;
        margin-bottom: 80px;
        @media (max-width: 414px) {
            min-height: 200px;
        }
        @media (max-width: 375px) {
            min-height: 210px;
        }
        @media (max-width: 320px) {
            min-height: 180px;
        }
        h2 {
            position: absolute;
            color: #FFF;
            font-size: 45px;
            text-transform: uppercase;
            line-height: 1.2;
            font-weight: 650;
            top: 40%;
            left: 47%;
        }
        @media (min-width: 1920px) {
            h2 {
                top: 42%;
            }
        }
        @media (max-width: 800px) {
            h2 {
                top: 40%;
                left: 40%;
            }
        }
        @media (max-width: 414px) {
            h2 {
                top: 33%;
                left: 35%;
            }
        }
        @media (max-width: 375px) {
            h2 {
                top: 35%;
                left: 32%;
            }
        }
        @media (max-width: 320px) {
            h2 {
                left: 28%;
            }
        }
    }
    .row {
        .col-md-4 {
            .hov-img-zoom {
                display: block;
                overflow: hidden;
            }
            .pos-relative {
                position: relative;
                img {
                    width: 100%;
                    transition: .3s ease-in-out;
                    &:hover {
                        transform: scale(1.1, 1.1);
                    }
                }
            }
        }
        .col-md-8 {
            h1 {
                font-size: 25px;
                line-height: 1.8;
                color: #333;
            }
            p {
                font-size: 15px;
                line-height: 1.7;
                color: #888;
            }
            span {
                font-size: 13px;
                line-height: 1.8;
                color: #555;
            }
        }
    }
}

// End AboutPage
// Start ContactPage
#contact {
    margin: 0 0 80px;
    .cover {
        background-image: url('/heading-pages-06.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        min-height: 300px;
        background-position: center;
        width: 100%;
        margin-bottom: 80px;
        @media (max-width: 414px) {
            min-height: 200px;
        }
        @media (max-width: 375px) {
            min-height: 210px;
        }
        @media (max-width: 320px) {
            min-height: 180px;
        }
        h2 {
            position: absolute;
            color: #FFF;
            font-size: 45px;
            text-transform: uppercase;
            line-height: 1.2;
            font-weight: 650;
            top: 35%;
            left: 45%;
        }
        @media (min-width: 1920px) {
            h2 {
                top: 40%;
            }
        }
        @media (max-width: 800px) {
            h2 {
                top: 40%;
                left: 40%;
            }
        }
        @media (max-width: 414px) {
            h2 {
                top: 33%;
                left: 28%;
            }
        }
        @media (max-width: 375px) {
            h2 {
                top: 35%;
            }
        }
        @media (max-width: 320px) {
            h2 {
                left: 20%;
            }
        }
    }
    .row {
        .col-lg-6 {
            iframe {
                margin-top: 30px;
                width: 500px;
                height: 420px;
                border: none;
                @media (max-width: 800px) {
                    margin-top: 0;
                    width: 700px;
                    height: 500px;
                }
                @media (max-width: 414px) {
                    width: 350px;
                    height: 300px;
                }
                @media (max-width: 375px) {
                    width: 320px;
                }
                @media (max-width: 320px) {
                    width: 290px;
                }
            }
            h1 {
                font-size: 25px;
                line-height: 1.8;
                color: #333;
                margin-bottom: 20px;
            }
            input,
            textarea {
                display: block;
                width: 500px;
                padding: 15px;
                border: 1px solid #888;
                margin-bottom: 15px;
                outline: none;
                @media (max-width: 800px) {
                    width: 700px;
                }
                @media (max-width: 414px) {
                    width: 350px;
                }
                @media (max-width: 375px) {
                    width: 320px;
                }
                @media (max-width: 320px) {
                    width: 290px;
                }
            }
            textarea {
                height: 120px;
            }
            button {
                padding: 10px;
                width: 120px;
                color: #FFF;
                background-color: #222;
                text-transform: uppercase;
                outline: none;
                border: none;
                border-radius: 25px;
                transition: .3s ease-in-out;
                &:hover {
                    background-color: $mainColor;
                }
            }
        }
    }
}

// End ContactPage
// Login - Register - Reset
#login,
#register,
#reset {
    .container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        text-align: center;
        border: 2px solid $mainColor;
        border-radius: 25px;
        @media (max-width: 414px) {
            width: 320px;
        }
        @media (max-width: 375px) {
            width: 350px;
        }
        @media (max-width: 320px) {
            width: 300px;
        }
        .login-form {
            position: relative;
            padding: 60px 30px;
            transition: .3s ease-in-out;
            h1 {
                color: $mainColor;
                font-size: 30px;
                margin: 0 0 20px;
                text-transform: uppercase;
                font-weight: bold;
            }
            form {
                input {
                    display: block;
                    width: 100%;
                    padding: 10px 20px;
                    margin: 10px 0 20px;
                    border: 1px solid #DDD;
                    border-radius: 25px;
                    outline: none;
                    font-size: 14px;
                    letter-spacing: 1px;
                    transition: .3s ease-in-out;
                    &:focus {
                        border: 1px solid $mainColor;
                    }
                }
                input[type="submit"] {
                    color: #FFF;
                    background-color: $mainColor;
                    font-size: 16px;
                    border: 1px solid $mainColor;
                    text-transform: uppercase;
                }
            }
            a {
                color: #222;
                margin-bottom: 10px;
                font-size: 15px;
                transition: .3s ease-in-out;
                &:hover {
                    color: $mainColor;
                    text-decoration: none;
                }
            }
            .create-email {
                display: block;
                &:hover {
                    color: #222;
                }
            }
            .link {
                color: $mainColor;
            }
        }
    }
}