@import "../../../variables";
* {
    list-style: none;
}

// Start Cart
.cart-dropdown {
    position: absolute;
    z-index: 10;
    width: 339px;
    top: 99%;
    right: 40px;
    background-color: #FFF;
    border: 2px solid #EEE;
    border-top: 3px solid #EEE;
    border-radius: 5px;
    overflow: hidden;
    animation: cartAnimation .5s ease-in-out;
    @keyframes cartAnimation {
        0% {
            width: 0;
            height: 0;
        }
        100% {
            width: 339px;
            height: auto;
        }
    }
    @media(max-width: 768px) {
        right: 10px;
    }
    @media(max-width: 414px) {
        right: 80px;
    }
    .cart-product {
        padding: 5px 0;
        .cart-items {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 5px 0;
            .item-img img {
                padding-left: 10px;
                width: 80px;
                position: relative;
                margin-right: 10px;
            }
            .item-txt {
                width: calc(100% - 100px);
                .item-name {
                    display: block;
                    font-size: 15px;
                    color: #555;
                    line-height: 1.3;
                    margin-bottom: 12px;
                    transition: .3s ease-in-out;
                    &:hover {
                        text-decoration: none;
                        color: $mainColor;
                    }
                }
                .item-info {
                    display: block;
                    font-size: 12px;
                    color: #888;
                    line-height: 1.3;
                }
            }
        }
    }
    .cart-total {
        font-size: 15px;
        color: #555;
        line-height: 1.3;
        text-align: right;
        padding-top: 15px;
        padding-bottom: 25px;
        padding-right: 20px;
    }
    .cart-btn {
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .wrap-btn {
            width: calc(100% - 10px)/2;
        }
        a {
            text-decoration: none;
            background-color: #000;
            color: #FFF;
            padding: 10px;
            margin-left: 35px;
            margin-right: 30px;
            text-transform: uppercase;
            border-radius: 30px;
            transition: .5s ease-in-out;
            &:hover {
                background-color: #e65540;
            }
        }
    }
}

// End Cart
// Start FeaturePage
#cart-products {
    margin: 80px 0;
    .cover {
        background-image: url('/heading-pages-01.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        min-height: 300px;
        background-position: center;
        width: 100%;
        margin-bottom: 80px;
        @media (max-width: 768px) {
            min-height: 250px;
        }
        @media (max-width: 414px) {
            min-height: 200px;
        }
        @media (max-width: 320px) {
            min-height: 180px;
        }
        h2 {
            color: #FFF;
            font-size: 45px;
            text-transform: uppercase;
            line-height: 1.2;
            font-weight: 650;
            position: absolute;
            left: 46%;
            top: 40%;
        }
        @media (max-width: 768px) {
            h2 {
                left: 40%;
            }
        }
        @media (max-width: 414px) {
            h2 {
                top: 45%;
                left: 30%;
            }
        }
        @media (max-width: 320px) {
            h2 {
                font-size: 35px;
                left: 32%;
            }
        }
    }
    .table-cart {
        margin-bottom: 80px;
        .table-head {
            td {
                font-size: 15px;
                font-weight: 700;
                line-height: 1.5;
                color: #555;
                padding: 15px 0 15px 10px;
            }
        }
        .table-row {
            border: 1px solid #E6E6E6;
            .column-1 {
                width: 225px;
                .cart-img-1,
                .cart-img-2 {
                    background-image: url('/item-10.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    position: relative;
                    width: 40%;
                    height: 150px;
                    padding: 10px;
                    margin: 30px 40px;
                    cursor: pointer;
                }
                .cart-img-2 {
                    background-image: url('/item-05.jpg');
                }
            }
            p {
                position: absolute;
                color: #FFF;
                display: none;
                top: 0;
                left: 0;
                span {
                    position: absolute;
                    top: 43%;
                    left: 45%;
                    font-size: 18px;
                    font-weight: 150;
                }
            }
            @media (max-width: 991px) {
                .cart-img-1,
                .cart-img-2 {
                    width: 35%;
                    height: 120px;
                    padding: 0;
                    margin: 30px;
                }
                .cart-img-2 {
                    margin: 0;
                }
                p {
                    span {
                        left: 45%;
                        top: 38%;
                        font-size: 1rem;
                    }
                }
            }
        }
        .column-2 {
            width: 330px;
            padding: 37px 30px 30px 0;
            font-size: 15px;
            line-height: 1.5;
            color: #555;
            font-weight: 350;
        }
        @media (max-width: 991px) {
            .column-2 {
                font-size: .9rem;
                font-weight: 400;
                padding: 0;
                width: 100px;
            }
        }
        .column-3 {
            width: 133px;
            padding: 37px 30px 30px 0;
            font-size: 1.25rem;
            line-height: 1.5;
            color: #555;
            font-weight: 300;
        }
        @media (max-width: 991px) {
            .column-3 {
                font-size: 1.25rem;
                font-weight: 300;
            }
        }
        .column-4 {
            width: 355px;
            padding: 37px 30px 30px 0;
            font-size: 16px;
            line-height: 1.5;
            color: #555;
            font-weight: 350;
            .quantity {
                span {
                    padding: 15px;
                    font-size: 15px;
                    border-top: 2px solid #EEE;
                    border-bottom: 2px solid #EEE;
                }
                .sign-1 {
                    background-color: #E6E6E6;
                    font-weight: 600;
                    border-left: 2px solid #EEE;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    cursor: pointer;
                    transition: .3s ease-in-out;
                    &:hover {
                        color: #FFF;
                        background-color: $mainColor;
                    }
                }
                .sign-2 {
                    background-color: #E6E6E6;
                    font-weight: 600;
                    border-left: 2px solid #EEE;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    cursor: pointer;
                    transition: .3s ease-in-out;
                    &:hover {
                        color: #FFF;
                        background-color: $mainColor;
                    }
                }
            }
        }
        .column-5 {
            padding: 37px 30px 30px 0;
            font-size: 1.25rem;
            line-height: 1.5;
            color: #555;
            font-weight: 300;
        }
        @media (max-width: 991px) {
            .column-5 {
                font-size: 1.25rem;
                font-weight: 300;
            }
        }
    }
    .table-footer {
        border: 1px solid #E6E6E6;
        .column-1 {
            width: 225px;
            padding: 20px;
            input {
                height: 45px;
                width: 230px;
                padding: 10px 15px;
                border: 1px solid #E6E6E6;
                font-size: 15px;
                font-weight: 100;
                outline: none;
            }
        }
        .column-2 {
            width: 330px;
            button {
                padding: 10px 40px;
                border-radius: 25px;
                font-size: 18px;
                border: none;
                background-color: #222;
                color: #FFF;
                text-transform: uppercase;
                transition: .3s ease-in-out;
                &:hover {
                    background-color: $mainColor;
                }
            }
        }
        .column-5 {
            button {
                width: 150px;
                padding: 10px 0;
                font-size: 18px;
                border-radius: 25px;
                border: none;
                background-color: #222;
                color: #FFF;
                margin-right: 50px;
                text-transform: uppercase;
                transition: .3s ease-in-out;
                &:hover {
                    background-color: $mainColor;
                }
            }
        }
    }
    .inner-cart {
        border: 1px solid #E6E6E6;
        border-radius: 5px;
        height: 620px;
        margin-bottom: 50px;
        h5 {
            padding: 20px 0 0 15px;
            font-size: 20px;
            line-height: 1.5;
            font-weight: 600;
            color: #333;
            text-transform: uppercase;
        }
        .total {
            padding: 10px 15px;
            .name {
                font-size: 15px;
                line-height: 1.5;
                font-weight: 700;
                color: #555;
                margin-right: 30px;
            }
            .salary {
                font-size: 18px;
                line-height: 1.5;
                color: #888;
            }
        }
        .shipping {
            border-top: 1px dashed #E6E6E6;
            margin: 0 20px;
            padding: 15px 0;
            .main-shipping {
                display: inline-flex;
                margin-bottom: 25px;
                .name {
                    font-size: 15px;
                    font-weight: 700;
                    line-height: 1.5;
                    color: #555;
                    margin-right: 30px;
                }
                .details {
                    font-size: 14px;
                    line-height: 1.8;
                    color: #888;
                }
            }
            @media (max-width: 991px) {
                .main-shipping {
                    display: block;
                }
            }
            .calc {
                margin-left: 100px;
                span {
                    font-size: 14px;
                    line-height: 1.8;
                    color: #888;
                    font-weight: 400;
                    text-align: right;
                    text-transform: uppercase;
                }
                .select {
                    margin-top: 10px;
                    height: 45px;
                    border: 1px solid #E6E6E6;
                    width: 210px;
                    ul {
                        &:hover {
                            cursor: pointer;
                        }
                        font-size: 14px;
                        list-style: none;
                        li {
                            color: #888;
                            padding: 10px 15px;
                        }
                        .country {
                            display: none;
                        }
                    }
                    input {
                        padding: 8px 15px;
                        margin-bottom: 10px;
                        outline: none;
                        border: 1px solid #E6E6E6;
                        font-size: 15px;
                        color: rgba(0, 0, 0, .3);
                    }
                    button {
                        background-color: #222;
                        border-radius: 25px;
                        color: #FFF;
                        font-size: 15px;
                        padding: 10px 40px;
                        transition: .3s ease-in-out;
                        border: none;
                        text-transform: uppercase;
                        margin-bottom: 15px;
                        &:hover {
                            background-color: $mainColor;
                        }
                    }
                    .inner-total {
                        border-top: 1px dashed #E6E6E6;
                        .name {
                            font-size: 20px;
                            margin-right: 30px;
                            font-weight: 600;
                            color: #555;
                        }
                        .salary {
                            font-size: 18px;
                            line-height: 1.5;
                            color: #888;
                        }
                        button {
                            margin-top: 10px;
                            width: 310px;
                            margin-left: -100px;
                            text-transform: uppercase;
                        }
                        @media (max-width: 991px) {
                            button {
                                margin-left: 0;
                            }
                        }
                        @media (max-width: 320px) {
                            button {
                                width: 250px;
                            }
                        }
                    }
                }
            }
            @media (max-width: 991px) {
                .calc {
                    margin-left: 0px;
                }
            }
        }
    }
}

// End FeaturePage
// Start BlogPage
#blogpage {
    margin: 80px 0;
    .cover {
        background-image: url('/heading-pages-05.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        min-height: 300px;
        background-position: center;
        width: 100%;
        margin-bottom: 80px;
        @media (max-width: 768px) {
            min-height: 250px;
        }
        @media (max-width: 414px) {
            min-height: 200px;
        }
        @media (max-width: 320px) {
            min-height: 180px;
        }
        h2 {
            color: #FFF;
            font-size: 45px;
            text-transform: uppercase;
            line-height: 1.2;
            font-weight: 650;
            position: absolute;
            left: 46%;
            top: 40%;
        }
        @media (max-width: 768px) {
            h2 {
                left: 40%;
            }
        }
        @media (max-width: 414px) {
            h2 {
                top: 45%;
                left: 30%;
            }
        }
        @media (max-width: 320px) {
            h2 {
                font-size: 35px;
                left: 32%;
            }
        }
    }
    .container {
        .col-lg-8 {
            .hov-img-zoom {
                display: block;
                overflow: hidden;
                margin-bottom: 30px;
            }
            .pos-relative {
                position: relative;
                img {
                    width: 100%;
                    transition: .3s ease-in-out;
                    &:hover {
                        transform: scale(1.1, 1.1);
                    }
                }
            }
            label {
                position: absolute;
                background-color: #222;
                color: #FFF;
                padding: 5px;
            }
            .date-1 {
                top: 9.5%;
            }
            .date-2 {
                top: 30%;
            }
            .date-3 {
                top: 50.2%;
            }
            .date-4 {
                top: 70.7%;
            }
            .date-5 {
                top: 91%;
            }
            a {
                display: block;
                font-size: 25px;
                color: #333;
                line-height: 1.3;
                margin-bottom: 10px;
                transition: .3s ease-in-out;
                &:hover {
                    text-decoration: none;
                    color: $mainColor;
                }
            }
            span {
                color: #888;
                font-size: 13px;
                line-height: 1.8;
            }
            p {
                margin-top: 15px;
                color: #888;
                font-size: 15px;
                line-height: 1.7;
                margin-bottom: 60px;
            }
            button {
                margin-right: 10px;
                padding: 10px;
                outline: none;
                background-color: transparent;
                border: 1px solid #888;
                border-radius: 50%;
                transition: .3s ease-in-out;
                &:hover {
                    color: #FFF;
                    background-color: #222;
                }
            }
            .btn-1 {
                color: #FFF;
                background-color: #222;
            }
        }
        .col-lg-4 {
            input {
                width: 250px;
                margin-left: 20%;
                margin-bottom: 50px;
                padding: 10px;
                border: 1px solid #888;
                border-radius: 20px;
                outline: none;
            }
            h4,
            h5,
            a,
            .dropdown-divider {
                margin-left: 20%
            }
            h5,
            h4,
            h3,
            h2 {
                color: #222;
                font-size: 25px;
                font-weight: 700;
                margin-bottom: 30px;
            }
            .desc {
                margin-left: 20%;
                font-size: 15px;
                color: #888;
                transition: .3s ease-in-out;
                cursor: pointer;
                &:hover {
                    text-decoration: none;
                    color: $mainColor;
                }
            }
            h4 {
                margin: 30px 0 30px 20%;
            }
            .flex {
                display: flex;
                margin-bottom: 20px;
                img {
                    margin-left: 20%;
                    margin-right: 20px;
                    width: 80px;
                    cursor: pointer;
                }
                span {
                    display: block;
                    font-size: 15px;
                    color: #555;
                    line-height: 1.2;
                    cursor: pointer;
                    transition: .3s ease-in-out;
                    &:hover {
                        color: $mainColor;
                    }
                }
                label {
                    margin-top: 10px;
                    color: #888;
                    font-size: 12px;
                    line-height: 1.8;
                }
            }
            h3 {
                margin: 60px 0 30px 20%;
            }
            .seasons {
                p {
                    a {
                        font-size: 15px;
                        color: #888;
                        transition: .3s ease-in-out;
                        &:hover {
                            text-decoration: none;
                            color: $mainColor;
                        }
                    }
                    span {
                        color: #888;
                        float: right;
                    }
                }
            }
            h2 {
                margin: 60px 0 30px 20%;
            }
            .btn {
                button {
                    margin: 3px;
                    color: #888;
                    font-size: 13px;
                    line-height: 1.5;
                    padding: 5px 15px;
                    border: 1px solid #888;
                    border-radius: 15px;
                    transition: .3s ease-in-out;
                    &:hover {
                        color: $mainColor;
                        border: 1px solid $mainColor;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

// End BlogPage
// Start AboutPage
#about {
    margin: 80px 0;
    .cover {
        background-image: url('/heading-pages-06.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        min-height: 300px;
        background-position: center;
        width: 100%;
        margin-bottom: 80px;
        @media (max-width: 768px) {
            min-height: 250px;
        }
        @media (max-width: 414px) {
            min-height: 200px;
        }
        @media (max-width: 320px) {
            min-height: 180px;
        }
        h2 {
            color: #FFF;
            font-size: 45px;
            text-transform: uppercase;
            line-height: 1.2;
            font-weight: 650;
            position: absolute;
            left: 46%;
            top: 40%;
        }
        @media (max-width: 768px) {
            h2 {
                left: 40%;
            }
        }
        @media (max-width: 414px) {
            h2 {
                top: 45%;
                left: 30%;
            }
        }
        @media (max-width: 320px) {
            h2 {
                font-size: 35px;
                left: 32%;
            }
        }
    }
    .row {
        .col-md-4 {
            .hov-img-zoom {
                display: block;
                overflow: hidden;
            }
            .pos-relative {
                position: relative;
                img {
                    width: 100%;
                    transition: .3s ease-in-out;
                    &:hover {
                        transform: scale(1.1, 1.1);
                    }
                }
            }
        }
        .col-md-8 {
            h1 {
                font-size: 25px;
                line-height: 1.8;
                color: #333;
            }
            p {
                font-size: 15px;
                line-height: 1.7;
                color: #888;
            }
            span {
                font-size: 13px;
                line-height: 1.8;
                color: #555;
            }
        }
    }
}

// End AboutPage
// Start ContactPage
#contact {
    margin: 80px 0;
    .cover {
        background-image: url('/heading-pages-06.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        min-height: 300px;
        background-position: center;
        width: 100%;
        margin-bottom: 80px;
        @media (max-width: 768px) {
            min-height: 250px;
        }
        @media (max-width: 414px) {
            min-height: 200px;
        }
        @media (max-width: 320px) {
            min-height: 180px;
        }
        h2 {
            color: #FFF;
            font-size: 45px;
            text-transform: uppercase;
            line-height: 1.2;
            font-weight: 650;
            position: absolute;
            left: 46%;
            top: 40%;
        }
        @media (max-width: 768px) {
            h2 {
                left: 40%;
            }
        }
        @media (max-width: 414px) {
            h2 {
                top: 45%;
                left: 30%;
            }
        }
        @media (max-width: 320px) {
            h2 {
                font-size: 35px;
                left: 32%;
            }
        }
    }
    .row {
        .col-md-6 {
            .map {
                width: 100%;
                height: 400px;
            }
            h1 {
                font-size: 25px;
                line-height: 1.8;
                color: #333;
                margin-bottom: 20px;
            }
            input,
            textarea {
                display: block;
                width: 450px;
                padding: 15px;
                border: 1px solid #888;
                margin-bottom: 15px;
                outline: none;
            }
            textarea {
                height: 120px;
            }
            button {
                padding: 10px;
                width: 120px;
                color: #FFF;
                background-color: #222;
                text-transform: uppercase;
                outline: none;
                border: none;
                border-radius: 25px;
                transition: .3s ease-in-out;
                &:hover {
                    background-color: $mainColor;
                }
            }
        }
    }
}

// End ContactPage